{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import '_macros.html' as macros %}

{% block content %}
{{ super() }}
<form class="form" method="POST">
  {{form.keyword(class_="form-control")}}
  {{form.submit(class_="btn btn-default",type="submit")}}
</form>

<table class="table table-hover">
        <thead>
          <tr>
            <th>PN</th>
            <th>Spec</th>
            <td><strong>Size</strong></td>
            <th>Stock</th>
            <th>报警限</th>
            <th>是否备库</th>
            <th>过期时间</th>
          </tr>
        </thead>
        <tbody>
        {%if items %}
        {%for item in items%}
          <tr> 
            <td><a href="{{url_for('.buy',pn=item.pn)}}">{{item.pn}}</a></td>
            <td>{{item.spec}}</td>
            <td>{{item.size}}</td>
            <td {%if item.stock<item.warn_stock and item.in_store%}
            style="color: red"
            {%endif%}>{{item.stock}}</td>
            <td>{%if item.in_store%}{{item.warn_stock}}{%else%}-{%endif%}</td>
            <td>{% if item.in_store %}是{% else %}否{% endif %}</td>
            <td>{%if item.shelf_life%}{{moment(item.shelf_life).format('LL')}}{%else%}未录入{%endif%}</td>
            <td><a class="btn btn-warning" href="{{url_for('.delete_item',id=item.id)}}" 
              onclick="{if(confirm('确定删除吗?')){this.document.formname.submit();return true;}return false;}">删除</a></td>
          </tr>
        {%endfor%}
        {%endif%}
        </tbody>
      </table>
      <div class="pagination">
        {{ macros.pagination_widget(pagination, '.index') }}
    </div>
{% endblock %}