{% extends "bootstrap/base.html" %}
{% block title %}Blade Store{% endblock %}
{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename = 'icon/favicon.ico') }}"
type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename = 'icon/favicon.ico') }}"
type="image/x-icon">
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{{moment.lang("zh-CN")}}
{% endblock %}

{% block content %}
    <div class="container">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
        {% block page_content %}{% endblock %}
    </div>
{% endblock %}


{% block navbar %}
{{ super() }}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
                data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">主页</a>
        </div>
        
        <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('main.logout') }}"><strong>登出</strong></a></li>
            {% else %}
            <li><a href="{{ url_for('main.login') }}"><strong>登陆</strong></a></li>
            {% endif %}
        </ul>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/record">记录</a></li>
                {%if current_user.role_id==2%}
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">管理
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/manage/mark">长期备库</a></li>
                        <li><a href="/manage/index">补充数量</a></li>
                        <li><a href="/manage/add">添加品种</a></li>
                        <li class="divider"></li>
                        <li><a href="/manage/_import">导入</a></li>
                        <li><a href="/manage/export">导出</a></li>
                        <li class="divider"></li>
                        <li><a href="/manage/add_account">添加账号</a></li>
                        <li><a href="/manage/account">管理账号</a></li>
                    </ul>   
                </li>
                {%endif%}
            </ul>
			<p style="color:wheat; text-align:center">帐号密码都是admin</p>
        </div>
    </div>
</div>
{% endblock %}
