{% extends "bootstrap/base.html" %}
{% block title %}Blade Store{% endblock %}
{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename = 'icon/favicon.ico') }}"
type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename = 'icon/favicon.ico') }}"
type="image/x-icon">
{% endblock %}

{% block navbar %}
{{ super() }}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
                data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Home</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Return</a></li>
                <li><a href="/">Lend</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Manage
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">长期备库品</a></li>
                        <li class="divider"></li>
                        <li><a href="#">导入/导出</a></li>
                        <li class="divider"></li>
                        <li><a href="#">帐号管理</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}