{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import '_macros.html' as macros %}

{% block content %}
{{ super() }}
<form class="form" method="POST">
  {{form.keyword(class_="form-control")}}
  {{form.submit(class_="btn btn-default",type="submit")}}
</form>

<table class="table table-hover">
        <thead>
          <tr>
            <th>PN</th>
            <th>Spec</th>
            <td><strong>Size</strong></td>
            <th>Stock</th>
            {%if current_user.can(Permission.TAKE)%}
            <th>报警限</th>
            <th>是否备库</th>
            {%endif%}
            <th>过期时间</th>
          </tr>
        </thead>
        <tbody>
        {%if items %}
        {%for item in items%}
          <tr> 
            {%if item.stock>0%} 
            <td>{%if current_user.can(Permission.TAKE)%}<a href="{{url_for('.item',pn=item.pn)}}">{%endif%}{{item.pn}}</a></td>
            {%else%}
            <td>{{item.pn}}</td>
            {%endif%}
            <td>{{item.spec}}</td>
            <td>{{item.size}}</td>
            {%if current_user.can(Permission.TAKE)%}
              <td {%if item.stock<item.warn_stock and item.in_store%}
              style="color: red"
              {%endif%}>{{item.stock}}</td>
            {%else%}
            <td{%if item.stock<1%}
            style="color: red"
            {%endif%}>{%if item.stock>0%}有货{%else%}无货{%endif%}</td>
            {%endif%}
            {%if current_user.can(Permission.TAKE)%}
            <td>{%if item.in_store%}{{item.warn_stock}}{%else%}-{%endif%}</td>
            <td>{% if item.in_store %}是{% else %}否{% endif %}</td>
            {%endif%}
            <td>{%if item.shelf_life%}{{moment(item.shelf_life).format('LL')}}{%else%}未录入{%endif%}</td>
          </tr>
        {%endfor%}
        {%endif%}
        </tbody>
      </table>
      <div class="pagination">
        {{ macros.pagination_widget(pagination, '.index', kw=keyword) }}
    </div>
{% endblock %}