{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import '_macros.html' as macros %}

{% block content %}
{{ super() }}
{{wtf.quick_form(form,form_type="inline")}}
<table class="table table-hover">
        <thead>
          <tr>
            <th>PN</th>
            <th>Spec</th>
            <th>stock</th>
            <th>warn_stock</th>
            <th>warn_stock</th>
          </tr>
        </thead>
        <tbody>
        {%if items %}
        {%for item in items%}
        {%if item.stock<item.warn_stock%}
          <tr class="danger">
            <td><a href="{{url_for('.item',pn=item.pn)}}">{{item.pn}}</a></td>
            <td>{{item.spec}}</td>
            <td>{{item.stock}}</td>
            <td>{{item.warn_stock}}</td>
            <td>{{item.stock-item.warn_stock}}</td>
          </tr>
        {%else%}
          <tr class="success">
            <td><a href="{{url_for('.item',pn=item.pn)}}">{{item.pn}}</a></td>
            <td>{{item.spec}}</td>
            <td>{{item.stock}}</td>
            <td>{{item.warn_stock}}</td>
            <td>{{item.stock-item.warn_stock}}</td>
          </tr>
        {%endif%}
        {%endfor%}
        {%endif%}
        </tbody>
      </table>
      <div class="pagination">
        {{ macros.pagination_widget(pagination, '.index') }}
    </div>
{% endblock %}