{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<table class="table table-hover">
        <thead>
          <tr>
            <th>PN</th>
            <th>Spec</th>
            <th>Size</th>
            <th>Stock</th>
            <th>QTY</th>
          </tr>
        </thead>
        <tbody>
        {%if item %}
          <tr class="danger">
            <td>{{item.pn}}</td>
            <td>{{item.spec}}</td>
            <td>{{item.stock}}</td>
            <td>{{item.stock-item.warn_stock}}</td>
            <form method='post'>
            <td>{{ wtf.form_field(form.nums) }}</td>
            <td>{{ wtf.form_field(form.submit) }}</td>
            </form>
            <td></td>
          </tr>
        {%endif%}
        </tbody>
</table>
{% endblock %}