{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{{super()}}
<table class="table table-hover">
        <thead>
          <tr>
            <th>PN</th>
            <th>Spec</th>
            <th>Size</th>
            <th>Stock</th>
            <th>&nbspQTY</th>
            <th>&nbsp借出PIC</th>
            <th>&nbsp客户名</th>
            <th>&nbsp借出天数</th>
          </tr>
        </thead>
        <tbody>
        {%if item %}
          <tr class="danger">
            <td>{{item.pn}}</td>
            <td>{{item.spec}}</td>
            <td>{{item.size}}</td>
            <td>{{item.stock}}</td>
            <form method="POST">
                <td>{{form.qty(class_="form-control")}}</td>
                <td>{{form.lend_pic(class_="form-control")}}</td>
                <td>{{form.customer(class_="form-control")}}</td>
                <td>{{form.days(class_="form-control")}}</td>
                <td>{{form.submit_take(class_="btn btn-default",type="submit")}}</td>
            </form>
          </tr>
        {%endif%}
        
        </tbody>
</table>
{% endblock %}