{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import '_macros.html' as macros %}
{% block content %}
<form class="form" method="POST">
    {{form.keyword(class_="form-control")}}
    {{form.submit(class_="btn btn-default",type="submit")}}
</form>
<table class="table table-hover">
        <thead>
          <tr>
            <th>PN</th>
            <th>Spec</th>
            <th>Size</th>
            <th>QTY</th>
            <th><a class="btn btn-xs {%if order_by=='time'%}active{%endif%}" href="{{url_for('.record',order_by='time')}}">日期↓</a></th>
            <th>AP PIC</th>
            <th>客户</th>
            <th>借出PIC</th>
            <th>是否归还</th>
            <th><a class="btn btn-xs {%if order_by=='days'%}active{%endif%}" href="{{url_for('.record',order_by='days')}}">归还倒计时↓</a></th>
          </tr>
        </thead>
        <tbody>
        {%if records %}
        {%for record in records%}
          <tr>
            <td>{{record.pn}}</td>
            <td>{{record.spec}}</td>
            <td>{{record.size}}</td>
            <td>{{record.qty}}</td>
            <td>{{ moment(record.time).format('LLL') }}</td>
            <td>{{record.ap_pic}}</td>
            <td>{{record.customer}}{%if not record.customer %}——{%endif%}</td>
            <td>{%if record.lend_pic%}{{record.lend_pic}}{%else%}非借用{%endif%}</td>
            <td>{%if record.lend_pic%}
                  {%if record.returned%}已还{%else%}未还{% endif %}
                {%else%}非借用
                {%endif%}
            </td> 
            <td>{%if record.days and not record.returned%}{{record.days-(now-record.time).days}}天{%endif%}</td>
            <td>{%if not record.returned and record.lend_pic%}<a href="{{url_for('.Return',id=record.id)}}" 
			onclick="{if(confirm('确定归还吗?')){this.document.formname.submit();return true;}return false;}">归还</a>{%endif%}</td>
          </tr>
        {%endfor%}
        {%endif%}
        </tbody>
      </table>
    <div class="pagination">
        {{ macros.pagination_widget(pagination, '.record') }}
    </div>
{% endblock %}